<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>카톡클론연습</title>
    <link rel="stylesheet" href="/kakao.css">
</head>
<style>

</style>

<body>
<div class="container">
    <div class="pink-box">
        <div class="line">______</div>
        <div class="profile-message">카카오톡 클론코딩 연습 뿌애애애애앵!!!!</div>
    </div>
    <img class="mainpic"
         src="https://yt3.ggpht.com/ytc/AKedOLQwv2ve5gj5OuGokHy2_2DgyWlXmWxbT8CrVp7GnA=s900-c-k-c0x00ffffff-no-rj"
         alt="profile image">
    <div class="white-box">

        <h3>또치</h3>
        <div class="image">
            <div class="chat">
                <img class="icon" src="../chat.png" alt="Chat">
                <h4>나와의 채팅</h4>
            </div>
            <div class="profile">
                <img class="icon" src="../profile.png" alt="Profile">
                <h4>프로필 관리</h4>
            </div>
            <div class="kas">
                <img class="icon" src="../qutate.png" alt="Qutation">
                <h4>카카오 스토리</h4>
            </div>

        </div>

    </div>
</div>


</body>
</html>