<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>인스타클론연습</title>
    <link rel="stylesheet" href="/kakao.css">
</head>
<style>

</style>

<body>
<nav class="navbar">
    <div class="nav-wrapper">
        <img src="image/insta-logo.png" class="brand-img" alt="">
        <input type="text" class="search-box" placeholder="search">
        <div class="nav-items">
            <img src="image/insta-logo.png" class="icon" alt="">
            <img src="image/messenger.PNG" class="icon" alt="">
            <img src="image/add.PNG" class="icon" alt="">
            <img src="image/explore.PNG" class="icon" alt="">
            <img src="image/like.PNG" class="icon" alt="">
            <div class="icon user-profile"></div>
        </div>
    </div>
</nav>


</body>
</html>