<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>인스타클론연습</title>
    <link rel="stylesheet" href="/insta.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <img class="header-icon" src="image/camera@3x.png" />
            <img id="logo" src="image/insta-logo.png" />
            <img class="header-icon" src="image/dm@3x.png" />
        </div>
        <div id="container">
            <div id="story-container">
                <div class="story-wrapper">
                    <div class="story-off">
                        <img src="image/xmas.jpg"/>
                    </div>
                    <p>내 스토리</p>
                </div>
            </div>
            <div id="post-container">
                <div class="post-wrapper">
                    <div class="post-header">
                        <div class="left-wrapper">
                            <img src="image/xmas.jpg"/>
                            <p>이용자5</p>
                        </div>
                        <div class="right-wrapper">
                            <img src="image/more@3x.png">
                        </div>
                    </div>
                    <div class="post-body">
                        <img src="image/xmas.jpg">
                        <div class="post-icons-wrapper">
                            <div class="left-wrapper">
                                <img class="post-icon" src="image/like@3x.png">
                                <img class="post-icon-2" src="image/comment@3x.png">
                                <img class="post-icon" src="image/dm@3x.png">
                            </div>
                            <div class="right-wrapper">
                                <img src="image/favorite@3x.png">
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="post-like-wrapper">
                            <img src="image/xmas.jpg">
                            <p><strong>이용자</strong>님 <strong>외 6,671명</strong>이 좋아합니다</p>
                        </div>
                        <div class="post-content-wrapper">
                            <p class="post-author">이용자</p>
                            <p class="post-content">안녕하세요</p>
                        </div>
                        <p class="post-time">
                            8시간 전
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="icon-wrapper">
                <img src="image/home@3x.png">
                <img src="image/search@3x.png">
                <img src="image/trending@3x.png">
                <img src="image/like@3x.png">
                <img src="image/home@3x.png">
            </div>
        </div>
    </div>
</body>
</html>